Web/data/data.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="pokemons">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="pokemon" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="numeroPokadex" type="xs:string"></xs:element>
                            <xs:element name="nombre" type="xs:string"></xs:element>
                            <xs:element name="tipo1" type="xs:integer"></xs:element>
                            <xs:element name="tipo2" type="xs:string"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>